/* Dark Theme */
body {
  background-color: #212121;
  color: #eee8aa;
  display: flex;
  justify-content: center; /* Center content horizontally */
  font-family: 'SegoeUI', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  animation: fadeInSlideUp 0.5s; /* fade in and slide up animation */
}

.container {
  width: 1205px; /* Limit width to approximately 505 pixels */
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Centered Heading 1 */
h1 {
  font-size: 72px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

/* Italic Heading 2 */
h2 {
  font-size: 47px;
  font-style: italic;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.2s; /* Delay for h2 animation */
}

/* Justified Heading 3 */
h3 {
  font-size: 33px;
  text-align: justify;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.4s; /* Delay for h3 animation */
}

/* Justified Paragraph */
p {
  font-size: 21px;
  text-align: justify;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.6s; /* Delay for paragraph animation */
}

/* Circular Image */
img.circular-cut {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.6s; /* Delay for paragraph animation */
}

/* Styled List */
ul.certifications {
  width: 600px; /* Width of the list */
  margin: 0 auto; /* Center the list */
  padding: 0;
  list-style-type: none; /* Remove default list styles */
}

ul.certifications li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 0.8s; /* Delay for list items animation */
  font-size: 24px;
}

ul.certifications li::before {
  content: "\2192"; /* Unicode arrow right character */
  margin-right: 5px;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.certifications {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: 1s; /* Delay the animation for 1 second */
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: inherit; /* Change to inherit from body background color */
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  .timeline::after {
      left: 31px;
  }

  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
      left: 15px;
  }

  .right {
      left: 0%;
  }

  /* Hide left section on small screens */
  .left {
      display: none;
  }
}
